@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Poppins', sans-serif;

}

body{
    min-height: 100vh;
    background-color: rgba(248,248,248,.9);
}

.main-container{
    text-align: center;
    font-size: 26px;
}

.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 15px;
}

.card{
    padding: 10px;
    height: 500px;
    width: 300px;
    background: rgba(252,252,252,1);
    box-shadow: 5px 5px 10px rgba(0,0,0,.6);
    border-radius: 10px;
}

.card:hover{
    transform: scale(101%);
    transition: all 200ms ease;
}

.card img{
    margin: 20px 0;
    height: 200px;
    width: 280px;
    padding: 10px;
    border-radius: 20px;
}

.card h6{
    margin-bottom: 25px;
}

.card p{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 100px;
}


.card a{
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.card a:hover,
.card a:visited{
    color: black;
}








