@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Poppins', sans-serif;

}

body{
    min-height: 100vh;
    background-color: rgba(248,248,248,.9);
}

.main-container{
    text-align: center;
    font-size: 26px;
}

.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 15px;
}

.card{
    padding: 10px;
    height: 500px;
    width: 300px;
    margin-right: 40px;
    background: rgba(252,252,252,1);
    /*box-shadow: 5px 5px 10px rgba(0,0,0,.6);*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
    border-radius: 10px;
    box-shadow: rgba(50,50,93,.25) 0 50px 100px -20px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.card:hover{
    transform: scale(101%);
    transition: all 200ms ease;
}

.card img{
    margin: 20px 0;
    height: 200px;
    width: 280px;
    padding: 10px;
    border-radius: 20px;
}

.card h6{
    margin-bottom: 25px;
}

.card p{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 100px;
}


.card a{
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.card a:hover,
.card a:visited{
    color: black;
}








